body {
  font: 20px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  background: rgba(25, 25, 25, .9);
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px; top: 0px;
}
body::-webkit-scrollbar { display: none; }
p { margin: 10px; }
.presentation {
  background: -webkit-gradient(linear, left top, left bottom, from(#444), to(black));
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  display: block;
  overflow: hidden;
}
a.info {
  display: none;
  position: absolute;
  border: none;
  top: -16px;
  right: -4px;
}
a.info img { width: 25px; }
textarea {
  resize: none;
}
.ui-resizable-handle { opacity: 0; }
.pink { color: #ff6ec7; }
.options {
  position: absolute !important;
  right: 18px !important;
  bottom: 18px;
}
.slides {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  -webkit-transition: -webkit-transform 1s ease-out;
  -webkit-transform: scale(1);
}
.slide {
  opacity: .35;
  display: none;
  position: absolute;
  width: 900px;
  height: 700px;
  left: 50%;
  top: 50%;
  margin-top: -350px;
  background: #eee;
  -webkit-box-shadow: 0px 0px 9px black;
  -webkit-transition: all 0.35s ease-in-out;
-moz-transform: scale(0.8);
background: -webkit-gradient(linear, left bottom, left top, from(#BBD), to(white));
}
.slide:nth-child(even) {
  -moz-border-radius: 20px 0;
  -khtml-border-radius: 20px 0;
  border-radius: 20px 0; /* includes Opera 10.5+ */
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
}

.slide:nth-child(odd) {
  -moz-border-radius: 0 20px;
  -khtml-border-radius: 0 20px;
  border-radius: 0 20px;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
}
.reduced {
  -webkit-transform: scale(0.8);
} 
.slide.far-past {
  display: block;
  margin-left: -2400px;
}
.slide.past {
  visibility: visible;
  display: block;
  margin-left: -1400px;
}
.slide.current {
  opacity: 1.0;
  visibility: visible;
  display: block;
  margin-left: -450px;
  -webkit-transform: scale(1);
}
.slide.future {
  visibility: visible;
  display: block;
  margin-left: 500px;
}
.slide.far-future {
  display: block;
  margin-left: 1500px;
}
.note {
  border-color: "rgba(25, 25, 25, 0)";
  border-style: dashed;
  border-width: 1px;
  position: absolute !important;
  float: none !important;
  margin: 0 !important;
  color: #444444;
  z-index: 10;
  overflow-y auto:
}
.preview {
  position: absolute;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}
.preview input {
  position: absolute !important;
  right: 8px !important;
  bottom: 8px;
}
.edit_area {
  background: rgba(1, 1, 1, 0);
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-y: auto;
  border: none;
  font-size: 1em;
  color: #444444;
}
a.delete {
  display: none;
  position: absolute;
  border: none;
  top: -20px;
  right: -10px;
}

.slide_inner {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 840px;
  height: 640px;
}
.edit_area::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.preview::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.edit_area::-webkit-scrollbar-thumb { background-color: #ffbb00 !important; }
.preview::-webkit-scrollbar-thumb { background-color: #ffbb00 !important; }
.edit_area::-webkit-scrollbar-track {
  -webkit-border-radius: 3px;
  border-top-left-radius: 3px 3px;
  border-top-right-radius: 3px 3px;
  border-bottom-right-radius: 3px 3px;
  border-bottom-left-radius: 3px 3px;
}
.preview::-webkit-scrollbar-track {
  -webkit-border-radius: 3px;
  border-top-left-radius: 3px 3px;
  border-top-right-radius: 3px 3px;
  border-bottom-right-radius: 3px 3px;
  border-bottom-left-radius: 3px 3px;
}
.edit_area::-webkit-scrollbar-track-piece {
  -webkit-border-radius: 3px;
  border-top-left-radius: 3px 3px;
  border-top-right-radius: 3px 3px;
  border-bottom-right-radius: 3px 3px;
  border-bottom-left-radius: 3px 3px;
}
.preview::-webkit-scrollbar-track-piece {
  -webkit-border-radius: 3px;
  border-top-left-radius: 3px 3px;
  border-top-right-radius: 3px 3px;
  border-bottom-right-radius: 3px 3px;
  border-bottom-left-radius: 3px 3px;
}
